* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
}

/*main-container*/
.main-container {
    padding: 20px 20px 40px;
    margin: 20px auto;
    display: flex;
    max-width: 1050px;
    min-height: 100vh;
    color: rgb(68, 68, 68, .8);
}

.proffesion {
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
}

.name {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    color: rgba(227, 6, 19, 0.5);
}

.my-photo {
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 6px rgba(68, 68, 68, .8);
    border-radius: 3px
}

.sidebar {
    flex: 0 0 300px;
    line-height: 30px;
    font-weight: 500;
}

.item__title {
    position: relative;
    padding: 0 0 0 40px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 37px;
    color: rgba(227, 6, 19, 0.5);
    text-transform: uppercase;
    border-bottom: 2px solid rgba(227, 6, 19, 0.5);
}

.item__title::before {
    content: '	\00BB';
    position: absolute;
    padding: 0 7px;
    top: 1px;
    left: 0;
    font-size: 21px;
    height: 100%;
    color: #fff;
    background: rgba(227, 6, 19, 0.5);
    ;
}

.block {
    list-style-type: none;
    margin-top: 20px;
}

.block__item {
    position: relative;
    padding-left: 20px;
}

.block__item::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 0;
    background: rgba(227, 6, 19, 0.5);
}

/*contacts container*/
.contacts__block {
    display: flex;
    flex-direction: column;
}

.contacts__link-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 26px;
    height: 26px;
    background: rgba(227, 6, 19, 0.5);
    border-radius: 50%;
}

.contacts__link img {
    width: 14px;
    height: 16px;
}

.more-info__item.block__item::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 10px;
    left: 0;
    background: rgba(227, 6, 19, 0.5);
}

/*info-container*/
.info-container {
    position: relative;
    padding: 20px 20px 20px 50px;
    color: rgb(68, 68, 68, .8);
    line-height: 22px;
}

.training-courses__subtitle,
.more-info__subtitle {
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
}

.training-courses__time {
    display: block;
    margin-top: 5px;
    color: #a8a8a8;
}

.more-info__link {
    font-size: 25px;
    vertical-align: middle;
}


@media (max-width:768px) {
    .main-container {
        margin: 0 auto;
    }

    .name {
        font-size: 22px;
    }

    .my-photo {
        margin: 15px auto;
    }

    .sidebar {
        flex: 0 0 250px;
    }

    .item__title {
        padding: 0 0 0 30px;
        margin-top: 15px;
        font-size: 18px;
        line-height: 30px;
    }

    .item__title::before {
        font-size: 20px;
    }

    .info-container {
        padding: 0 0 0 20px;
    }

    .training-courses__subtitle,
    .more-info__subtitle {
        font-size: 18px;
    }
}

@media (max-width:576px) {
    .main-container {
        flex-wrap: wrap;
    }


    .sidebar {
        flex: 1 1 100%;
        padding: 0 20px;
    }



    .info-container {
        padding: 0 20px;
    }
}